In [1]:
#15.1 Categorical Data

import pandas as pd


url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url)


make = df.make

C:\Users\wgrom\AppData\Local\Temp\ipykernel_20556\4140894637.py:7: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [2]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [3]:
#15.2 Frequency Counts

make.value_counts()

Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: make, Length: 136, dtype: int64

In [4]:
make.shape, make.nunique()

((41144,), 136)

In [5]:
# 15.3 Bennefits of Categories
cat_make = make.astype('category')

make.memory_usage(deep=True)

2606395

In [6]:
cat_make.memory_usage(deep=True)

95888

In [7]:
%%timeit
cat_make.str.upper()

424 µs ± 19.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [8]:
%%timeit
make.str.upper()

8.56 ms ± 456 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
# Conversion to Ordinal Categories

make_type = pd.CategoricalDtype(
            categories=sorted(make.unique()), ordered=True)

ordered_make = make.astype(make_type)

ordered_make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['AM General' < 'ASC Incorporated' < 'Acura' < 'Alfa Romeo' ... 'Volvo' < 'Wallace Environmental' < 'Yugo' < 'smart']

In [10]:
#
ordered_make.max()

'smart'

In [11]:
cat_make.max()

TypeError: Categorical is not ordered for operation max
you can use .as_ordered() to change the Categorical to an ordered one

In [ ]:
ordered_make.sort_values()

20288    AM General
20289    AM General
369      AM General
358      AM General
19314    AM General
            ...
31289         smart
31290         smart
29605         smart
22974         smart
26882         smart
Name: make, Length: 41144, dtype: category
Categories (136, object): ['AM General' < 'ASC Incorporated' < 'Acura' < 'Alfa Romeo' ... 'Volvo' < 'Wallace Environmental' < 'Yugo' < 'smart']

In [ ]:
# 15.5 The .cat Acessor

cat_make.cat.rename_categories(
        [c.lower() for c in cat_make.cat.categories]
)

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
41139        subaru
41140        subaru
41141        subaru
41142        subaru
41143        subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['am general', 'asc incorporated', 'acura', 'alfa romeo', ..., 'volvo', 'wallace environmental', 'yugo', 'smart']

In [ ]:
# dictionary
ordered_make.cat.rename_categories(
    {c:c.lower() for c in ordered_make.cat.categories}
)

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
41139        subaru
41140        subaru
41141        subaru
41142        subaru
41143        subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['am general' < 'asc incorporated' < 'acura' < 'alfa romeo' ... 'volvo' < 'wallace environmental' < 'yugo' < 'smart']

In [ ]:
#list
ordered_make.cat.rename_categories(
    [c.lower() for c in ordered_make.cat.categories]
)

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
41139        subaru
41140        subaru
41141        subaru
41142        subaru
41143        subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['am general' < 'asc incorporated' < 'acura' < 'alfa romeo' ... 'volvo' < 'wallace environmental' < 'yugo' < 'smart']

In [ ]:
# Not sure why this (cat_make.cat.categories, key=str.lower) if formated like this!
ordered_make.cat.reorder_categories(sorted(cat_make.cat.categories, key=str.lower))

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['Acura' < 'Alfa Romeo' < 'AM General' < 'American Motors Corporation' ... 'Volvo' < 'VPG' < 'Wallace Environmental' < 'Yugo']

In [ ]:
# 15.6 Category Gotchas

ordered_make.iloc[:100].value_counts()

Dodge                        17
Oldsmobile                    8
Ford                          8
Buick                         7
Chevrolet                     5
                             ..
Grumman Allied Industries     0
Goldacre                      0
Geo                           0
Genesis                       0
smart                         0
Name: make, Length: 136, dtype: int64

In [ ]:
(cat_make
 .iloc[:100]
 .groupby(cat_make.iloc[:100])
 .first()
)

make
AM General                            NaN
ASC Incorporated                      NaN
Acura                                 NaN
Alfa Romeo                     Alfa Romeo
American Motors Corporation           NaN
                                  ...
Volkswagen                     Volkswagen
Volvo                               Volvo
Wallace Environmental                 NaN
Yugo                                  NaN
smart                                 NaN
Name: make, Length: 136, dtype: category
Categories (136, object): ['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo', ..., 'Volvo', 'Wallace Environmental', 'Yugo', 'smart']

In [ ]:
(make
 .iloc[:100]
 .groupby(make.iloc[:100])
 .first()
)

make
Alfa Romeo          Alfa Romeo
Audi                      Audi
BMW                        BMW
Buick                    Buick
CX Automotive    CX Automotive
Cadillac              Cadillac
Chevrolet            Chevrolet
Chrysler              Chrysler
Dodge                    Dodge
Ferrari                Ferrari
Ford                      Ford
Hyundai                Hyundai
Infiniti              Infiniti
Lexus                    Lexus
Mazda                    Mazda
Mercury                Mercury
Nissan                  Nissan
Oldsmobile          Oldsmobile
Plymouth              Plymouth
Pontiac                Pontiac
Rolls-Royce        Rolls-Royce
Subaru                  Subaru
Toyota                  Toyota
Volkswagen          Volkswagen
Volvo                    Volvo
Name: make, dtype: object

In [ ]:
(make
 .iloc[:100]
 .groupby(make.iloc[:100], observed=True)
 .first()
)

make
Alfa Romeo          Alfa Romeo
Audi                      Audi
BMW                        BMW
Buick                    Buick
CX Automotive    CX Automotive
Cadillac              Cadillac
Chevrolet            Chevrolet
Chrysler              Chrysler
Dodge                    Dodge
Ferrari                Ferrari
Ford                      Ford
Hyundai                Hyundai
Infiniti              Infiniti
Lexus                    Lexus
Mazda                    Mazda
Mercury                Mercury
Nissan                  Nissan
Oldsmobile          Oldsmobile
Plymouth              Plymouth
Pontiac                Pontiac
Rolls-Royce        Rolls-Royce
Subaru                  Subaru
Toyota                  Toyota
Volkswagen          Volkswagen
Volvo                    Volvo
Name: make, dtype: object

In [ ]:
# returns a scalar
ordered_make.iloc[100]

'Rolls-Royce'

In [ ]:
# returns a categorical

ordered_make.iloc[[0]]

0    Alfa Romeo
Name: make, dtype: category
Categories (136, object): ['AM General' < 'ASC Incorporated' < 'Acura' < 'Alfa Romeo' ... 'Volvo' < 'Wallace Environmental' < 'Yugo' < 'smart']

In [36]:
# 15.7 Generalization

def generalized_topn(ser, n=5, other='Other'):
    topn = ser.value_counts().index[:n]
    if isinstance(ser.dtype, pd.CategoricalDtype):
        ser = ser.cat.set_categories(
            topn.set_categories(list(topn)+[other]))
            
    return ser.where(ser.isin(topn), other)


cat_make.pipe(generalized_topn, n=20, other='NA')

0            NA
1            NA
2         Dodge
3         Dodge
4        Subaru
          ...
41139    Subaru
41140    Subaru
41141    Subaru
41142    Subaru
41143    Subaru
Name: make, Length: 41144, dtype: category
Categories (21, object): ['Chevrolet', 'Ford', 'Dodge', 'GMC', ..., 'Volvo', 'Hyundai', 'Chrysler', 'NA']

In [35]:
def generalize_mapping(ser, mapping, default):
    seen = None
    res = ser.astype(str)
    for old, new in mapping.items():
        mask = ser.str.contains(old)
        if seen is None:
            seen = mask
        else:
            seen |=mask
        res = res.where(~mask, new)
    res = res.where(seen, default)
    return res.astype('category')
    

generalize_mapping(cat_make, {'Ford':'US','Tesla':'US',
                             'Chevrolet':'US','Dodge':'US',
                             'Oldsmobile':'US','Plymouth':'US',
                             'BMW':'German'}, 'Other')

0        Other
1        Other
2           US
3           US
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: category
Categories (3, object): ['German', 'Other', 'US']

In [15]:
# create a series from the dataframe
fuel_type = df.fuelType

In [20]:
fuel_type

0        Regular
1        Regular
2        Regular
3        Regular
4        Premium
          ...
41139    Regular
41140    Regular
41141    Regular
41142    Regular
41143    Premium
Name: fuelType, Length: 41144, dtype: object

In [19]:
# total number and the number of unique text fields
fuel_type.shape,fuel_type.nunique()

((41144,), 14)

In [18]:
fuel_type.value_counts()

Regular                        26447
Premium                        11542
Gasoline or E85                 1317
Diesel                          1180
Electricity                      203
Premium or E85                   127
Midgrade                         106
CNG                               60
Premium and Electricity           53
Regular Gas and Electricity       41
Premium Gas or Electricity        36
Gasoline or natural gas           20
Gasoline or propane                8
Regular Gas or Electricity         4
Name: fuelType, dtype: int64

In [ ]:
fuel_type_cat = fuel_type.astype('category')

In [21]:
# how much memory for the object and category values

fuel_type.memory_usage(deep=True)

2647111

In [22]:
fuel_type_cat.memory_usage(deep=True)

# 2647111
#   42841
#________
# 2604270

42841

In [23]:
# whats the difference using deep=True
fuel_type_cat.memory_usage()

41940

In [24]:
fuel_type.memory_usage()

329280

In [25]:
# convert a numeric column into a categorical column by binning it (pd.cut)
# and how much memory is saved?

city_mpg = df.city08

In [26]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [28]:
#get the min and max
city_mpg.max(),city_mpg.min()

(150, 6)

In [27]:
city_mpg_cat = pd.cut(city_mpg,[0,10,20,40,150])

In [32]:
city_mpg_cat.memory_usage(deep=True)

41508

In [33]:
city_mpg.memory_usage(deep=True)

329280

In [ ]:
# 329280-41508 = 287,772

In [31]:
#what is the distribution of the categories
city_mpg_cat.value_counts()

(10, 20]     29993
(20, 40]      9897
(0, 10]        879
(40, 150]      375
Name: city08, dtype: int64

In [38]:
# use the generalized_topn function to limit the amounts of categories in your column. Memory saved?

city_mpg_cat.pipe(generalized_topn, n=2, other='NA')

0        (10, 20]
1              NA
2        (20, 40]
3              NA
4        (10, 20]
           ...
41139    (10, 20]
41140    (10, 20]
41141    (10, 20]
41142    (10, 20]
41143    (10, 20]
Name: city08, Length: 41144, dtype: category
Categories (3, object): [(10, 20] < (20, 40] < 'NA']