Date and Time Manipulation

In [1]:
import pandas as pd

In [12]:
col = pd.Series(['2015-03-08 08:00:00+00:00',
'2015-03-08 08:30:00+00:00',
'2015-03-08 08:00:00+00:00',
'2015-03-08 09:00:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:04:00+00:00',
'2015-11-08 08:00:00+00:00',
'2015-11-01 08:00:00+00:00',])

In [13]:
utc_s = pd.to_datetime(col, utc=True)

In [14]:
utc_s

0   2015-03-08 08:00:00+00:00
1   2015-03-08 08:30:00+00:00
2   2015-03-08 08:00:00+00:00
3   2015-03-08 09:00:00+00:00
4   2015-11-01 08:00:00+00:00
5   2015-11-01 08:00:00+00:00
6   2015-11-01 08:04:00+00:00
7   2015-11-08 08:00:00+00:00
8   2015-11-01 08:00:00+00:00
dtype: datetime64[ns, UTC]

In [15]:
# dt attribute

(utc_s
 .dt
 .tz_convert('America/Denver'))

0   2015-03-08 01:00:00-07:00
1   2015-03-08 01:30:00-07:00
2   2015-03-08 01:00:00-07:00
3   2015-03-08 03:00:00-06:00
4   2015-11-01 01:00:00-07:00
5   2015-11-01 01:00:00-07:00
6   2015-11-01 01:04:00-07:00
7   2015-11-08 01:00:00-07:00
8   2015-11-01 01:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [18]:
time = pd.Series(['2015-03-08 08:00:00+00:00',
'2015-03-08 08:30:00+00:00',
'2015-03-08 08:00:00+00:00',
'2015-03-08 09:00:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:04:00+00:00',
'2015-11-08 08:00:00+00:00',
'2015-11-01 08:00:00+00:00',])


offset = pd.Series([-7,-7,-7,-6,-5,
                    -6,-7,-6, -7 ])

In [29]:
time = pd.Series(['2015-03-08 08:00:00+00:00',
'2015-03-08 08:30:00+00:00',
'2015-03-08 08:00:00+00:00',
'2015-03-08 09:00:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:00:00+00:00',
'2015-11-01 08:04:00+00:00',
'2015-11-08 08:00:00+00:00',
'2015-11-01 08:00:00+00:00'])


offset = pd.Series([-7,-7,-7,-6,-7,
                    -6,-7,-6, -7 ])

offset = offset.replace({-7:'-07:00', -6:'-06:00'})

In [30]:
offset

0    -07:00
1    -07:00
2    -07:00
3    -06:00
4    -07:00
5    -06:00
6    -07:00
7    -06:00
8    -07:00
dtype: object

In [36]:
local = (pd.to_datetime(time)
 .groupby(offset)
 .transform(lambda s: s.dt.tz_localize(s.name)
                       .dt.tz_convert('America/Denver'))
)

In [43]:
local

0   2015-03-08 01:00:00-07:00
1   2015-03-08 01:30:00-07:00
2   2015-03-08 01:00:00-07:00
3   2015-03-08 03:00:00-06:00
4   2015-11-01 01:00:00-07:00
5   2015-11-01 01:00:00-07:00
6   2015-11-01 01:04:00-07:00
7   2015-11-08 01:00:00-07:00
8   2015-11-01 01:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [44]:
local.dt.tz_convert('UTC')

0   2015-03-08 08:00:00+00:00
1   2015-03-08 08:30:00+00:00
2   2015-03-08 08:00:00+00:00
3   2015-03-08 09:00:00+00:00
4   2015-11-01 08:00:00+00:00
5   2015-11-01 08:00:00+00:00
6   2015-11-01 08:04:00+00:00
7   2015-11-08 08:00:00+00:00
8   2015-11-01 08:00:00+00:00
dtype: datetime64[ns, UTC]

In [ ]:
#load/convert to Epochs time

In [46]:
# Manipulating Dates

url = 'https://raw.githubusercontent.com/mattharrison/datasets/master/data/alta-noaa-1980-2019.csv'

alta_df =  pd.read_csv(url)

In [47]:
dates = pd.to_datetime(alta_df.DATE)

In [48]:
dates

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]