Chapter 26 Reshaping Dataframes with Dummies

In [ ]:
%reset -f

In [2]:
import pandas as pd

pd.set_option('display.max_rows', 10)             
url = 'https://github.com/mattharrison/datasets/raw/master/data/'\
    '2020-jetbrains-python-survey.csv'

jb = pd.read_csv(url)

C:\Users\wgrom\AppData\Local\Temp\ipykernel_17280\1713115966.py:7: DtypeWarning: Columns (152) have mixed types. Specify dtype option on import or set low_memory=False.
  jb = pd.read_csv(url)

In [ ]:
jb.filter(like='job.role')

In [ ]:
# book shows a different output , it shows multiple columns job.role

(jb
 .filter(like=r'job.role.*t')
 .where(jb.isna(), 1)
 )

In [ ]:
(jb
 .filter(regex='job.role.*t')
 .where(jb.isna(), 1)
 )

In [ ]:
(jb
 .filter(regex='job.role.*t')
 .where(jb.isna(), 1)
 .fillna(0)
)

In [ ]:
(jb
 .filter(regex='job.role.*t')
 .where(jb.isna(), 1)
 .fillna(0)
 .idxmax(axis='columns')
)

In [12]:
job =(jb
 .filter(regex='job.role.*t')
 .where(jb.isna(), 1)
 .fillna(0)
 .idxmax(axis='columns')
 .str.replace('job.role.','', regex=False)
)

In [13]:
dum = pd.get_dummies(job)

In [14]:
dum

,Architect,Business analyst,Data analyst,Other,Product manager,Systems analyst,Technical support,Technical writer
0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
54457,0,0,0,0,0,1,0,0
54458,1,0,0,0,0,0,0,0
54459,1,0,0,0,0,0,0,0
54460,0,0,1,0,0,0,0,0
54461,1,0,0,0,0,0,0,0

26.2 Undoing Dummy Columns

2 ways idxmax and using NumPy arrays

In [6]:
dum.idxmax(axis='columns')

0         .Business analyst
1                .Architect
2        .Technical support
3                .Architect
4                .Architect
                ...
54457      .Systems analyst
54458            .Architect
54459            .Architect
54460         .Data analyst
54461            .Architect
Length: 54462, dtype: object

In [9]:
type(dum.idxmax(axis='columns'))

type(dum)

pandas.core.frame.DataFrame

In [10]:
# fasted way NumPy



import numpy as np

# dataframe dum to a i, j ndarrays

i, j = np.where(dum)

In [16]:
pd.Series(dum.columns[j],i)

0         Business analyst
1                Architect
2        Technical support
3                Architect
4                Architect
               ...
54457      Systems analyst
54458            Architect
54459            Architect
54460         Data analyst
54461            Architect
Length: 54462, dtype: object