Chapter 31
Working with time series

In [2]:
%reset -f

In [3]:
import pandas as pd

In [4]:

url = 'https://github.com/mattharrison/datasets/raw/master/data/dirtydevil.txt'

df = pd.read_csv(url,skiprows=lambda num:num <34 or num ==35, sep='\t')

C:\Users\wgrom\AppData\Local\Temp\ipykernel_10032\3281310804.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url,skiprows=lambda num:num <34 or num ==35, sep='\t')

Web site with the actual data
https://waterdata.usgs.gov/nwis/uv?search_criteria=state_cd&submitted_form=introduction

need to try downloading data.

In [5]:
def tweak_river(df_):
    return (df_
            .assign(datetime=pd.to_datetime(df_.datetime))
            .rename(columns={'144166_00060':'cfs','144167_00065':'gage_height'})
            .set_index('datetime')
           )

In [6]:
dd = tweak_river(df)

In [7]:
dd.dtypes

agency_cd           object
site_no              int64
tz_cd               object
cfs                float64
144166_00060_cd     object
gage_height        float64
144167_00065_cd     object
dtype: object

In [8]:
dd

,agency_cd,site_no,tz_cd,cfs,144166_00060_cd,gage_height,144167_00065_cd
datetime,,,,,,,
2001-05-07 01:00:00,USGS,9333500,MDT,71.00,A:[91],NaN,NaN
2001-05-07 01:15:00,USGS,9333500,MDT,71.00,A:[91],NaN,NaN
2001-05-07 01:30:00,USGS,9333500,MDT,71.00,A:[91],NaN,NaN
2001-05-07 01:45:00,USGS,9333500,MDT,70.00,A:[91],NaN,NaN
2001-05-07 02:00:00,USGS,9333500,MDT,70.00,A:[91],NaN,NaN
...,...,...,...,...,...,...,...
2020-09-28 08:30:00,USGS,9333500,MDT,9.53,P,6.16,P
2020-09-28 08:45:00,USGS,9333500,MDT,9.20,P,6.15,P
2020-09-28 09:00:00,USGS,9333500,MDT,9.20,P,6.15,P
2020-09-28 09:15:00,USGS,9333500,MDT,9.20,P,6.15,P
2020-09-28 09:30:00,USGS,9333500,MDT,9.20,P,6.15,P