In [1]:
import pandas as pd

In [14]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df_vehicles = pd.read_csv(url,low_memory=False,compression='zip')

city_mpg = df_vehicles.city08
highway_mpg = df_vehicles.highway08

In [ ]:
df_vehicles

In [ ]:
df_vehicles.info()

In [38]:
print(f"Average city mileage {city_mpg.mean():,.2f} and highway {highway_mpg.mean():,.2f}")

Average city mileage 18.37 and highway 24.50

In [16]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [13]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

In [ ]:
dir(city_mpg)

In [35]:
len(dir(city_mpg))

418


#### <font color=yellow>****The Python code "-".join(str(n) for n in range(100))****</font>

*   <font color=#fab107>****Let's break down this code for better understanding, this is a one-liner that generates a string consisting of numbers from 0 to 99, each separated by a hyphen (-) :****</font>

    1. <font color=#fab107>range(100): This function generates a sequence of numbers from 0 to 99. In Python, range(n) produces numbers from 0 up to, but not including, n.</font>

    1. <font color=#fab107>str(n) for n in range(100): This is a generator expression. For each number n in the sequence produced by range(100), it converts n to a string using str(n). This is necessary because join (explained next) works with strings</font>

    1. <font color=#fab107>"-".join(...): The join method is called on the string "-". It takes an iterable of strings as an argument and concatenates them into a single string, inserting the string it is called on (in this case, the hyphen) between each element. So, "-".join(['1', '2', '3']) would result in '1-2-3'</font>

<font color=red>****Putting it all together, "-".join(str(n) for n in range(100)) creates a string where each number from 0 to 99 is converted to a string, and these string representations are then concatenated together, separated by hyphens.****</font>

#### <font color=yellow>The output is below:</font>
'0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81-82-83-84-85-86-87-88-89-90-91-92-93-94-95-96-97-98-99'

In [43]:
import timeit
string_join_0_to_99 = "-".join(str(n) for n in range(100))

timeit.timeit('"-".join(str(n) for n in range(100))',
                  number=10000)

0.11130970000522211

In [44]:
string_join_0_to_99

'0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81-82-83-84-85-86-87-88-89-90-91-92-93-94-95-96-97-98-99'